---
interface Props {
  href: string;
  label: string;
  style: "primary" | "secondary";
  size: "md" | "lg";
  fullWidth?: boolean;
  icon?: string;
  iconPosition?: "left" | "right";
}

const { href, label, style, size, fullWidth, icon, iconPosition = "left" } = Astro.props;
---

<a
  href={href}
  class:list={[
    "rounded-lg border-solid border py-3",
    {
      "bg-black text-white border-black": style === "primary",
      "border-gray-200 bg-white": style === "secondary",
      "px-6 text-sm py-3": size === "md",
      "px-10 text-base": size === "lg",
      "w-full block text-center": fullWidth,
    },
  ]}
>
  {
    icon && iconPosition === "left" && (
      <img src={icon} alt={`${label} icon`} class="inline-block mr-2" />
    )
  }
  {label}
  {
    icon && iconPosition === "right" && (
      <img src={icon} alt={`${label} icon`} class="inline-block ml-2" />
    )
  }
</a>
